@model Contact 
<div class="perspective effect-rotate-left">
    <div class="container">
        <div class="outer-nav--return"></div>
        <div id="viewport" class="l-viewport">
            <div class="l-wrapper">
                <header class="header">
                    <a class="header--logo" href="#0">
                        <img src="~/assets/img/check_menu_checklist.png" alt="Portfolio">
                        <p>Portfolio</p>
                    </a>
                    <button class="header--cta cta">Hire Us</button>
                    <div class="header--nav-toggle">
                        <span></span>
                    </div>
                </header>
                <nav class="l-side-nav">
                    <ul class="side-nav">
                        <li class="is-active"><span>Home</span></li>
                        <li><span>Works</span></li>
                        <li><span>About</span></li>
                        <li><span>Contact</span></li>
                        <li><span>Hire us</span></li>
                    </ul>
                </nav>
                <ul class="l-main-content main-content">
                    <li class="l-section section section--is-active">
                        <div class="intro">
                            <div class="intro--banner">
                                <h1>Arif Abdulla<br>Backend<br>Developer</h1>
                                <button class="cta">
                                    Hire Us
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                  </g>
                  </svg>
                                    <span class="btn-background"></span>
                                </button>
                                <img src="~/assets/img/introduction-visual.png" alt="Welcome">
                            </div>
                            <div class="intro--options">
                                <a href="https://github.com/AbdullaArif">
                                    <h3>GitHub</h3>

                                </a>
                                <a href="https://www.linkedin.com/in/arif-abdulla-27b244283/">
                                    <h3>LinkedIn</h3>

                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="work">
                            <h2>Project</h2>
                            <div class="work--lockup">
                                <ul class="slider">
                                    <li class="slider--item slider--item-left">
                                        <a href="#0">
                                            <div class="slider--item-image">
                                                <img src="~/assets/img/work-victory.jpg" alt="Victory">
                                            </div>
                                            <p class="slider--item-title">Wain Rent a Car</p>
                                            <p class="slider--item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                                        </a>
                                    </li>    
                                    <li></li>
                                    <li></li>
                                </ul>
                                <div class="slider--prev">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                  </g>
                  </svg>
                                </div>
                                <div class="slider--next">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                  </g>
                  </svg>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="about">
                            <div class="about--banner">
                                <h2>I am an enthusiastic<br /> web developer who<br /> loves to develop and <br /></h2>
                                <h3>is rich in new and creative ideas.I am organized </h3>
                                <h4>and efficient to work as part of a team and ach people</h4>
                                <h3>Education</h3>
                                <img src="~/assets/img/about-visual.png" alt="About Us">
                            </div>
                            <link rel="stylesheet" href="~/css/styles.css" />

                            <div class="container1">
                                <div class="about1">
                                    <div class="slider--item1">
                                        <div class="slider--item-image1">
                                            <a><img src="~/assets/img/logo_aztu1.png" alt="logo_aztu"></a>
                                        </div>
                                        <h31>Has a bachelor's degree</h31>
                                    </div>
                                    <div class="slider--item1">
                                        <div class="slider--item-image1">
                                            <a><img src="~/assets/img/logo_aztu1.png" alt="logo_aztu"></a>
                                        </div>
                                        <h31>He received a master's degree</h31>
                                    </div>
                                    <div class="slider--item1">
                                        <div class="slider--item-image1">
                                            <a><img src="~/assets/img/CodeAcedmy1.jpeg" alt="logo_aztu"></a>
                                        </div>
                                        <h31>Backend oriented Full Stack Developer</h31>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="contact" style="background-image:url('@Url.Content("~/assets/img/backraundcolor2.png")')">
                            <div class="contact--lockup">
                                <div class="modal">
                                    <div class="modal--information">
                                        <p>Address</p>
                                        <p>Azerbaijan, Baku</p
                                        <p>Phone</p>
                                        <a href="tel:+148126287560">+XX XXX XX XX</a>
                                        <p>Email: arifabdulla034@gmail.com</p>
                                    </div>
                                    <ul class="modal--options">
                                        <li></li>
                                        <li><a href="mailto:arifabdulla034@gmail.com">Send Email</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="l-section section">
                        <div class="hire1">
                           <div > <h2>You want us to do</h2>
                            <h3>You want us to do</h3>
                            <ul>
                                <li>dfdfsd</li>
                                <li>sdfsdf</li>
                                <li>dsfsf</li>
                                <li>sdfsdf</li>
                                <li>fsdfs</li>
                            </ul>
                            <ul>
                                <li>sdff</li>
                                <li>sdff</li>
                                <li>sdff</li>
                                <li>sdff</li>
                                <li>sdff</li>
                            </ul><br /><br /></div>
                            <!-- checkout formspree.io for easy form setup -->
                          <form class="work-request" method="post">
    <div class="work-request1--information">
        <br />
        <div class="information-name1">
            <input asp-for="FullName">
            <label asp-for="FullName">Full Name</label>
            <span asp-validation-for="FullName" class="text-danger1"></span>
        </div><br />
        <div class="information-email1">
            <input asp-for="Email">
            <label asp-for="Email">Email</label>
            <span asp-validation-for="Email" class="text-danger1"></span>
        </div><br />
         <div class="information-email1">
            <input asp-for="Message">
            <label asp-for="Message">Message</label>
            <span asp-validation-for="Message" class="text-danger1"></span>
        </div><br />
          <div class="information-email1">
            <input asp-for="Phone">
            <label asp-for="Phone">Phone</label>
            <span asp-validation-for="Phone" class="text-danger1"></span>
        </div><br />
      @*  <div class="information-message">
            <label asp-for="Message">Message</label>
            <textarea  asp-for="Message" placeholder="Project Description"></textarea>
            <span asp-validation-for="Message" class="text-danger1"></span>
        </div><br />*@
        <div class="text-danger" asp-validation-summary="ModelOnly"></div><br />
    </div>
    <input type="submit" value="Send Request">
</form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="outer-nav">
        <li class="is-active">Home</li>
        <li>Works</li>
        <li>About</li>
        <li>Contact</li>
        <li>Hire us</li>
    </ul>
</div>
